.home__content__title{
    margin: -41rem -18rem 38rem 14rem;
    font-size: 3rem;
    white-space: nowrap;
}

.home__content__des{
    margin: -17rem -20rem 3rem 7rem;
}

.try__it{
    margin-left: -5rem;
}